.details {
  width: 78rem;
  margin-left: 4rem;
}

.details .preview {
  cursor: pointer;
  width: 5rem;
  height: 2rem;
  position: fixed;
  right: 3rem;
  top: 80%;
  background-color: rgb(180, 240, 180);
  border: none;
  border-radius: 5px;
  transition: all 0.54s;
}

.details .previoew:hover {
  background-color: rgb(125, 177, 125);
}
