.details {
  width: 78rem;
  margin-left: 4rem;
  text-align: right;
}

.btn {
  margin: 10px 6px;
  padding: 7px 10px;
  border: none;
  background-color: rgb(29, 75, 29);
  color: rgb(207, 206, 206);
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(19, 49, 19);
}
