.form {
  background-color: rgb(255, 255, 255, 0.5);
  padding: 1% 3%;
  border-radius: 5px;
  text-align: right;
}
.error {
  text-align: left;
  color: red;
}

.form .action_button button {
  cursor: pointer;
  padding: 4px 10px;
  margin: 8px 6px;
  font-size: 0.9em;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: rgb(180, 240, 180);
}

.form button:hover {
  background-color: rgb(130, 199, 130);
}

.form button:disabled {
  cursor: not-allowed;
  background-color: gray;
}

.input {
  display: flex;
  flex-direction: column;
  margin: 1.5% 0;
}

.input label {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}
.input input {
  padding: 6px;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: rgb(180, 240, 180);
}

.size {
  width: 350px;
}

.input input:hover {
  background-color: rgb(130, 199, 130);
}

.edit {
  cursor: pointer;
  padding: 4px 10px;
  margin: 8px 6px;
  font-size: 0.9em;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: rgb(180, 240, 180);
}

.edit:hover {
  background-color: rgb(130, 199, 130);
}

.gen_info {
  text-align: right;
}

.gen_info h1 {
  text-align: center;
}
.info {
  display: flex;
  justify-content: space-around;
}

hr {
  border: 2px dashed;
}
