.input {
  display: flex;
  flex-direction: column;
  margin: 1.5% 0;
}

.input label {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}
.input input {
  padding: 6px;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: rgb(180, 240, 180);
}

.size {
  width: 350px;
}

.input input:hover {
  background-color: rgb(130, 199, 130);
}
